:root{
    --mainColor:linear-gradient(90deg, #833ab4 0%, #fd1d1d 100%);
    --secondColor: #fcb045;
    --thirdColor: #fff;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* display:flex; */
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: var(--mainColor);
    margin-top: 5%

}
#totalTip{
    font-size: 2rem;
    font-weight: 500
}

.container{
    height: 100%;
    width:400px;
    background: var(--thirdColor);
    border-radius: 20px;

}

button{
    font-size: .8rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(178, 182, 169);
    margin-top: 3rem;
    background: #c58422;
    user-select: none;
    transition: transform .2s;
}

button:hover{
    cursor: pointer;
    transform: translateY(-.4rem);
}