:root{
    --current-value: rgb(255,255,255);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--current-value);
}

span{
    font-weight: 400;
    font-size: 2rem;
    color: rgb(54, 13, 121)
}

button{
    font-size: .8rem;
    font-weight: 600;
    font-family: sans-serif;
    color: yellowgreen;
    padding: 1rem;
    border-radius: .2rem;
    margin-top: 3rem;
    background: #7b8d81;
    user-select: none;
    transition: transform .2s;
}

button:hover{
    cursor: pointer;
    transform: translateY(-.4rem);
}